
body{
//background-image:url('1.jpg');
margin: 0px;
}

.c1-body{
	background-color:#829C15;
}

.c-style{
	margin: 0px;
	border:0px;
	text-decoration:none;
}

.c-style:hover{
	color:red;
}

.c-top{
	width:body.clientWidth;
	height:60px;
	margin: 0px;
	border:0px;
	background-color:#829C15;
	//background-color:#F1F9D4;
}
.c-topcen{
	position: absolute;
	right:2%;
	width:200px;
	height:20px;
	margin:20px 0px 0px 0px;
	border:0px;
	//background-color:#811115;
}
.c-center{
	width:body.clientWidth;
	height:820px;
	margin:0px 0px 0px 0px;
	border:0px;
	//background-color:#DFCC87;
	background-image:url('b.png');
	background-size:100% 100%;
}

.c-bottom{
	//position: absolute;
	//bottom:50%;
	width:body.clientWidth;
	//width:300px;
	height:100px;
	margin: 0px 0px 0px 0px;
	border:0.1px solid white;
	background-color:#FFFFCC;
	text-align:center;
	//border:1px solid green;
}

.c-form{
	position: absolute;
	right:15%;
	top:30%;
	width:300px;
	height:330px;
	//background-image:url('1.jpg');
	background-color:rgba(241,249,212,0.7);
	//background-color:##F1F9D4;
	//margin: 0px auto;
	border:1px  solid green;
	border-radius:28px;
	//opacity:0.7;
}

.c-log{
	width:70px;
	height:60px;
	margin: auto;
	//font-size:20px;
	//border:3px  solid green;
	//border-radius:8px;
}

.c-input{
	width:225px;
	height:80px;
	margin:auto;
	//border:3px  solid green;
	//border-radius:8px;
}
.c-input2{
	width:150px;
	height:25px;
	//font-size:15px;
	//margin:auto;
	//border:3px  solid green;
	//border-radius:8px;
}

.c-input1{
	width:220px;
	height:25px;
	font-size:15px;
	//margin:auto;
	//border:3px  solid green;
	//border-radius:8px;
}

.c-button{
	//margin:0px  auto;
	width: 220px;
	height:53px;
	font-size:20px;
	color:white;
	
	-webkit-border-radius: 100px / 75px;
	
    -moz-border-radius: 100px / 75px;
	border-radius: 100px / 75px;
	display:inline-block;
	background-image:url('2.png');
	//background-color:#EEA533;
}

.c-button:hover{
	background-image:url('3.png');
	color:green;
}

.c1-button{
	position: absolute;
	width:300px;
	height:70px;
	font-size:25px;
	//background-image:url('1.jpg');
	background-color:rgba(241,249,212);
	//background-color:##F1F9D4;
	margin:400px 0px 0px 300px;
	//border:1px  solid green;
	//border-radius:28px;
	text-align:center;
}
	
.c1-button1{
	position: absolute;
	width:300px;
	height:70px;
	font-size:25px;
	//background-image:url('1.jpg');
	background-color:rgba(241,249,212);
	//background-color:##F1F9D4;
	margin: 300px 0px 0px 300px;
	//border:1px  solid green;
	//border-radius:28px;
	text-align:center;
}


.c1-button:hover{
	background-color:rgba(200,208,171);
	color:red;
}
.c1-button1:hover{
	background-color:rgba(200,208,171);
	color:red;
}
